
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* ---------------- */
  /* FONT-FAMILIES */
  /* font-family: 'Montserrat', sans-serif; 'Poppins', , 'Roboto', */
  /* --------------------------------------------- */
  body {
    font-family: "Poppins";
    background-color: #fcfbfc;
  }
  html {
    font-size: 62.5%;
  }
  /* ----------- */
  /* REUSEABLE CODE */
  /* ------------------------ */
  .grid {
    display: grid;
    align-content: center;
  }
  .grid-col-2 {
    grid-template-columns: 1fr 1fr;
  }
  .grid-col-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .grid-col-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .grid-col-5 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .grid-col-7 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .grid-row-2 {
    grid-template-rows: 1fr 1fr;
  }
  .grid-row-3 {
    grid-template-rows: 2fr 1fr 1fr;
  }
  .section-big {
    max-width: 135rem;
    margin: 0 auto;
    padding: 1.8rem 4.8rem 0 4.8rem;
  }
  .icon {
    height: 1.8rem;
    width: 1.8rem;
    color: navy;
  }
  .flex {
    display: flex;
  }
  .section-full {
    width: 100vw;
    margin: 0 0;
    background-color: rebeccapurple;
  }
  /* -------------------------------------------------------------- */
  /* --------------
  SECTION-HERO
  --------------- */
  .header {
    justify-content: space-between;
    font-size: 1.8rem;
    font-weight: 600;
    color: #1a2e62;
    letter-spacing: 0.07rem;
  }
  .navbar {
    align-content: center;
  }
  .navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero-items {
    list-style: none;
    margin: 0 2.4rem;
    align-items: center;
  }
  .hero-items a {
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  .hero-items a:hover .icon {
    color: #1e96fc;
  }
  .hero-items a:hover {
    color: #1e96fc;
  }
  .nav-btn {
    border: none;
    padding: 1.3rem 4.8rem;
    color: rgb(26, 46, 98);
    background-color: white;
    letter-spacing: 0.09rem;
    font-size: 1.8rem;
    font-weight: 500;
    border: 1px solid rgb(26, 46, 98);
    border-radius: 0.9rem;
    font-family: inherit;
    line-height: 1.8;
  }
  .nav-btn:hover {
    cursor: pointer;
  }
  .get-start-btn {
    background-color: #1a2e62;
    color: white;
  }
  .header-cta {
    gap: 0.5rem;
    grid-template-columns: 1fr 1.5fr;
  }
  .section-hero {
    height: 9.8rem;
  }
  .section-hero-box {
    padding: 6.4rem 0;
    max-width: 135rem;
    padding: 1.8rem 4.8rem 0 4.8rem;
    margin: 3.2rem auto;
    margin-bottom: 4.8rem;
  }
  .hero-vid {
    max-width: 90%;
    float: right;
  }
  .heading-primary {
    font-family: "Montserrat";
  
    font-weight: 700;
    font-size: 7.2rem;
    color: #1a2e62;
  }
  .heading-primary-2 p {
    display: inline;
    font-size: 3.2rem;
    font-weight: 500;
    font-family: "Poppins";
  }
  .heading-primary-2 span {
    font-size: 3.2rem;
    font-weight: 500;
    font-family: "Poppins";
    color: #1e96fc;
  }
  .heading-primary-2 {
    gap: 0.9rem;
  }
  .heading-secondary {
    font-size: 1.8rem;
    color: #464646;
    margin: 3.2rem 0;
    font-weight: 500;
  }
  .section-hero-text-box {
    padding-top: 6.4rem;
  }
  .btn-cta-box {
    gap: 3.2rem;
  }
  .app-store {
    max-width: 100%;
  }
  .ios {
    max-width: 94%;
  }
  .app-download {
    gap: 0.9rem;
    display: grid;
    max-width: 90%;
    align-items: center;
  }
  /* SECTION OUR */
  .our-img-icici {
    max-width: 80%;
  }
  .our-img-pfrda {
    max-width: 23%;
  }
  .our-img-100x {
    max-width: 48%;
  }
  .our-img-iso {
    max-width: 50%;
  }
  .img p {
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
  }
  .img {
    width: 100%;
    gap: 3.2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .section-our-box {
    justify-content: space-between;
    align-items: center;
    gap: 3.2rem;
  }
  .img-pfrda {
    width: 100%;
  }
  .steps-box {
    padding-top: 9.6rem;
    margin-top: 9.6rem;
    justify-items: end;
    gap: 8.2rem;
  }
  .steps-box-2 {
    padding-top: 7.2rem;
    margin-top: 7.2rem;
  }
  .steps-text-box {
    align-self: center;
    max-width: 90%;
    position: relative;
  }
  .steps-text-box::after {
    content: "01";
    top: -14.5rem;
    left: -6.3rem;
    position: absolute;
    color: #ddeefc;
    font-size: 25rem;
    font-weight: 900;
    z-index: -1;
  }
  .step-vid {
    width: 100%;
  }
  .step-vid-4 {
    width: 95%;
  }
  .steps-text-box h2 {
    font-size: 5rem;
    color: #1a2e62;
    font-weight: 600;
  
    justify-content: flex-end;
  }
  .steps-text-box p {
    font-size: 1.8rem;
    margin-top: 2.8rem;
    color: #343434;
    line-height: 1.4;
  }
  .steps-text-box span {
    font-size: 1.8rem;
    line-height: 1.4;
    color: #343434;
  }
  .steps-text-box-2 {
    align-self: center;
    max-width: 90%;
    position: relative;
  }
  .steps-text-box-2::after {
    content: "02";
    top: -14.7rem;
    right: -1.4rem;
    position: absolute;
    color: #ddeefc;
    font-size: 25rem;
    font-weight: 900;
    z-index: -1;
  }
  .steps-text-box-2 h2 {
    font-size: 5rem;
    color: #1a2e62;
    font-weight: 600;
  
    justify-content: flex-end;
  }
  .steps-text-box-2 p {
    font-size: 1.8rem;
    margin-top: 2.8rem;
    color: #343434;
    line-height: 1.4;
  }
  .steps-text-box-2 span {
    font-size: 1.8rem;
    line-height: 1.4;
    color: #343434;
  }
  .steps-text-box-3::after {
    content: "03";
  }
  .steps-text-box-4::after {
    content: "04";
  }
  .steps-text-box-5::after {
    content: "05";
  }
  .working-img {
    margin-top: 6.4rem;
    justify-content: space-between;
    gap: 1%;
    row-gap: 4.8rem;
    padding: 3.2rem;
  }
  .companies-working-withus {
    padding: 9.6rem 4.8rem;
  }
  .working-box {
    text-align: center;
  }
  .working-box p {
    display: inline;
    font-size: 4.8rem;
    font-weight: 600;
    color: rgb(26, 46, 98);
  }
  .working-box span {
    font-size: 4.8rem;
    font-weight: 600;
    color: #1e96fc;
  }
  .working-img-5 {
    width: inherit;
  }
  .box-2,
  .box-4,
  .box-6,
  .box-8,
  .box-10,
  .box-12,
  .box-14 {
    visibility: hidden;
  }
  .section-testimonials {
    background-color: #ddeefc;
    padding: 4.8rem 3.2rem 0 3.2rem;
    justify-content: center;
    align-items: center;
    margin-top: 9.6rem;
  }
  
  .testimonials-box img {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    margin-right: -1.5rem;
    border: 3px solid #ddeefc;
  }
  .testimonials-box {
    padding: 7.2rem 6.4rem;
    justify-items: center;
    align-self: center;
    gap: 2.4rem;
    max-width: 100%;
  }
  
  .testimonials-box .select {
    border: 3px solid #1e96fc;
    height: 5.6rem;
    width: 5.6rem;
  }
  .testimonal-box--1 {
    font-size: 4.2rem;
    font-weight: 600;
    letter-spacing: 0.08rem;
    color: #1a2e62;
    text-align: center;
  }
  
  .testimonial-text {
    color: #f2f9ff;
    margin-bottom: -11rem;
    justify-content: center;
    align-items: center;
    font-size: 15rem;
    font-weight: 600;
  }
  blockquote {
    max-width: 50vw;
    background-color: #fff;
    font-size: 1.8rem;
    line-height: 2.8rem;
    text-align: center;
    padding: 5.6rem 5.4rem;
    border-radius: 2rem;
    position: relative;
    border-left: 1rem solid #b2dafc;
    border-right: 1rem solid #b2dafc;
  }
  .comma {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 5%;
    top: -6%;
    z-index: 2;
  }
  
  .testimonials-box .comma .comma-img {
    border-radius: 0;
    width: 5rem;
    height: auto;
    border: none;
  }
  /* ------------------
  SECTION-NEWS
  --------------------------------------------------- */
  .section-news {
    padding: 8.6rem 3.2rem 3.2rem 4.8rem;
  }
  .news-text {
    font-size: 4.8rem;
    font-weight: 600;
    line-height: 1.2;
    color: #1a2e62;
  }
  .grid-col-4-change {
    grid-template-columns: 2fr 1fr 8fr 1fr;
  }
  .news-opacity-right {
    background-image: linear-gradient(to right, #fcfbfc, #fcfbfc67);
  }
  .news-opacity-left {
    background-image: linear-gradient(to left, #fcfbfc, #fcfbfc67);
  }
  .news-img-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .news-scroll-box {
    display: flex;
    gap: 20rem;
  }
  .news-img {
    width: 20%;
    height: auto;
  }
  .footer-1 {
    height: 100vh;
    width: 100%;
  }
  /* ---------------
  SECTION-FOOTER
  ---------------------------- */
  .section-footer {
    margin-top: 9.6rem;
    padding-bottom: 9.6rem;
  }
  .footer-1 {
    position: relative;
    overflow: hidden;
  }
  
  .launching-soon {
    width: 100%;
    height: auto;
  }
  .start-planning {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    top: 4.8rem;
    right: -2.4rem;
    max-width: 25%;
    line-height: 1.2;
    font-family: "Montserrat";
    color: #1a2e62;
  }
  .start-planning h4 {
    font-size: 3.6rem;
    font-weight: 800;
  }
  .start-planning p {
    font-size: 1.2rem;
  }
  .download-app {
    height: 2.4rem;
    width: 2.4rem;
  }
  .trigger-download {
    gap: 0.5rem;
  }
  .launching-soon-main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
    display: flex;
    flex-direction: column;
  }
  .launching-soon-main h3 {
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
  }
  .launching-soon-main h5 {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  .launching-soon-main button {
    width: 50%;
    margin: 1.2rem auto;
  }
  .section-company-links {
    padding: 0 1.8rem 10% 1.8rem;
    display: grid;
    /* gap: 20rem; */
    grid-template-columns: 1fr 1fr;
  }
  .section h4 {
    font-weight: 600;
    font-size: 1.8rem;
    color: #1a2e62;
    margin-bottom: 0.5rem;
  }
  .section a {
    text-decoration: none;
    font-size: 1.8rem;
    color: #1a2e62;
    font-weight: 500;
  }
  .section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .resources {
    gap: 4.8rem 6.4rem;
  }
  .section-footer-2 {
    background: linear-gradient(
      360.28deg,
      rgb(149, 206, 253) -50%,
      rgb(149, 206, 253) -10.08%,
      rgba(255, 255, 255, 0) 98.51%,
      rgba(255, 255, 255, 0) 98.51%
    );
  }
  .i-phone {
    width: 25%;
    height: auto;
  }
  .apps-logo {
    margin-top: 4rem;
    gap: 1.2rem;
  }
  .media-images {
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .media {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
  }
  .images {
    align-content: start;
  }
  .footer-img-last {
    width: 100%;
    height: 100%;
  }
  .apps-logo a {
    display: inline-block;
  }
  .footer-last {
    padding: 0;
  }
  .last {
    background-color: #fcfbfc;
    margin-top: -0.5rem;
  }
  .company-info {
    max-width: 100%;
    margin: 0 auto;
  
    padding: 3.5% 18rem 0px;
  }
  .company-info p {
    font-size: 1.2rem;
    margin: 1.2rem 0;
    color: rgba(0, 0, 0, 0.6);
  }
  .company-info p strong {
    font-weight: 600;
  }
  .offices {
    margin: 3.8rem 0;
  }
  .footer-terms {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    color: #1a2e62;
    font-weight: 500;
    margin: 8.4rem 0;
  }
  .entites {
    color: #b3b0b0;
    margin: 0 1.2rem;
  }
  .footer-terms a {
    text-decoration: none;
    color: #1a2e62;
  }